<div class="container mt-5">
  <h1>Admin Dashboard</h1>
  <div class="d-flex justify-content-end">
    <h5>Total users:  <i class="fas fa-users"></i> <%=@totalUsers %></h5>
    <h5 class="mx-4">Total disk usage:  <i class="fas fa-cloud-upload-alt"></i><%=@totalDiskUsage/1024 %> kB</h5>
  </div>


  <div class="table-responsive" >
    <table class="table table-striped align-middle">
      <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Email</th>
        <th scope="col">Username</th>
        <th scope="col">Action</th>
        <th scope="col">Disk usage</th>
      </tr>
      </thead>
      <tbody>
      <% @users.each do |currentUser| %>
        <%if currentUser.try(:admin?) %>
          <%next %>
        <% end %>
        <tr>
          <th scope="row"><%=currentUser.id %></th>
          <td><%=currentUser.email %></td>
          <td><%=currentUser.username %></td>
          <td><%= link_to "Delete account",
                            admin_dashboard2_path(currentUser.id),
                            method: :delete,
                            data: {confirm:'Are you sure?'},
                            class: 'btn btn-primary'
          %></td>
          <td>
            <%=(currentUser.current_size * 100 / currentUser.ediskSize)%>%
            <div id="progres-bar-bg" class="progress">
              <div id="progres-bar-bg" class="progress-bar bg-primary" role="progressbar" style="width: <%=(currentUser.current_size * 100 / currentUser.ediskSize)%>%" aria-valuenow="<%=(currentUser.current_size * 100 / currentUser.ediskSize)%>" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>