<script>
    function show_field_for_expiration() {
        var x = document.getElementById("other_expiration_time_number");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
</script>
<section class="col-8 offset-2 col-sm-6 offset-sm-3">
  <h5>Edit file </h5>

  <%= form_with model: @edisk_file do |f| %>

    <% if @edisk_file.errors.any? %>
      <div class = "alert alert-danger">
        <%@edisk_file.errors.full_messages.each do |message| %>
          <div> <%=message %> </div>
        <%end%>
      </div>
    <%end%>

    <div class="field, form-group">
      <%= f.label :name %>
      <%= f.text_field :name, autofocus: true, value: @edisk_file.name, placeholder: @edisk_file.name, class: "form-control mb-2"%>
    </div>

    <div>
      <%= f.label :path %>
      <%= f.collection_select :edisk_directory_id, EdiskDirectory.all.where(user_id: current_user.id), :id, :ancestry_into_array, {:selected => @actual_dir.id} %>
    </div>
    <div>
      <%=f.label "expiration time"%>
      <div>
        <p1>
          <%=f.radio_button :expiration_time, "nil", :checked => true, :onchange => "show_field_for_expiration()" %>
          <%= f.label :radio_button_label, 'No expiration time' %>
        </p1>
      </div>
      <div>
        <p1>
          <%=f.radio_button :expiration_time, "Other", :checked => false, :onchange => "show_field_for_expiration()"%>
          <%= f.label :radio_button_label, 'Set limit' %>

          <div id="other_expiration_time_number" style="display:none;">
            <%= f.text_field :number_of_expiration, type:"number", required: true %>
            <%= f.select :type_of_expiration, options_for_select([["seconds", "seconds"], ["minutes", "minutes"], ["hours", "hours"], ["days", "days"]])%>
          </div>
        </p1>
      </div>
    </div>
    <div style="position:relative; top:5px;">
      <%= f.submit "Confirm" %>
    </div>

  <% end %>
</section>