<style>
    .center {
        margin-left: auto;
        margin-right: auto;
    }
    table {
        cellspacing: 0;
        cellpadding: 0;
    }
    tr {
        border: solid;
        border-width: 0px 0px 0px;
    }
    td {
        text-align: left;
        vertical-align: middle;
    }
    th {
        text-align: left;
        vertical-align: middle;
    }
</style>

<div class="container-fluid">
  <div class="row flex-nowrap">
    <div class="col py-3">
      <div class="card text-center">
        <div class="card-header">Details of <%=@who_am_i %></div>
          <div class="card-body">
            <table class="center">
              <tr>
                <th class="table-primary">Account creation date:</th>
                <td class="table-light"><%=@acc_creation_date %></td>
              </tr>
              <tr>
                <th class="table-primary">Account stauts:</th>
                <td class="table-light"><%=@acc_status %></td>
              </tr>
              <tr>
                <th class="table-primary">File count:</th>
                <td class="table-light"><%=@acc_file_count %></td>
              </tr>
              <tr>
                <th class="table-primary">Last activity date:</th>
                <td class="table-light"><%=@acc_last_act_date %></td>
              </tr>
              <tr>
                <th class="table-primary">Last activity type:</th>
                <td class="table-light"><%=@acc_last_act_type %></td>
              </tr>
              <tr>
                <th class="table-primary">Disc maximum usage:</th>
                <td class="table-light"><%=@disc_max_usage %>MB</td>
              </tr>
              <tr>
                <th class="table-primary">Disc current usage:</th>
                <td class="table-info"><%=@disc_curr_usage %>MB</td>
              </tr><td>&nbsp</td></tr>
              <tr>
                <th class="table-active">Go to edition of login data:</th>
                <td>
                  <a href="/edit" class="nav-link px-0"> <span style="width: 180px !important; display: inline-block !important;" id="button button2" class="d-none d-sm-inline btn btn-primary mx-3">Edit your login data</span></a>
                </td>
              </tr>
              <tr>
                <th class="table-active">Go to your disc:</th>
                <td>
                  <a href="/edisk_directory/0" class="nav-link px-0"> <span style="width: 180px !important; display: inline-block !important;" id="button button2" class="d-none d-sm-inline btn btn-primary mx-3">Go to your disk</span></a>
                </td>
              </tr>
            </table>
          </div>
            <div class="card-header">Disc usage pie-chart:</div>
            <div class="card-body">
              <table class="center">
                <tr>
                  <td colspan="2" class="table-info"><%= pie_chart ({"Current Usage" => @disc_curr_usage.to_i, "Free space" => @disc_max_usage.to_i-@disc_curr_usage.to_i}) %></td>
                </tr>
              </table>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
