<h5>Create new file </h5>
<%= form_with model: @edisk_files  do |f| %>

  <% @edisk_file.errors.full_messages_for(:avatar).each do |message| %>
    <div><%= message %></div>
  <% end %>

  <div>
    <%= f.label :"Upload file" %>
    <%= f.file_field :avatar %>
  </div>

  <% @edisk_file.errors.full_messages_for(:name).each do |message| %>
    <div><%= message %></div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control mb-2" %>
  </div>
  <div>
    <%= hidden_field_tag :ed_id,  "#{params[:format]}" %>
    <%= hidden_field_tag :userID,  current_user.id %>
  </div>
  <%= f.submit "Confirm" %>

<% end %>