<h5>Create new directory </h5>
<%= form_with(model: @edisk_files) do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control mb-2" %>
  </div>
  <div>
    <%= f.file_field :avatar %>
  </div>
  <div>
    <%= hidden_field_tag :ed_id,  "#{params[:format]}" %>
  </div>
  <%= f.submit "Confirm" %>

<% end %>