<h5>Edit directory </h5>
<section class="col-8 offset-2 col-sm-6 offset-sm-3">
<%= form_with(model: @edisk_directories, local: true) do |f| %>
  <div class="field, form-group">
    <%= f.label :name %>
    <%= f.text_field :name, autofocus: true, value: EdiskDirectory.find(@edisk_directory.id).name, class: "form-control mb-2"%>
  </div>
<% %>
  <div>

    <%= f.label :path %>
    <%= f.collection_select :parent_id, EdiskDirectory.all.where(user_id: current_user.id).excluding(EdiskDirectory.descendants_of(@edisk_directory.id)).excluding(@edisk_directory).including(EdiskDirectory.find(0)), :id, :ancestry_into_array, {:selected => @edisk_directory.parent_id} %>

  </div>

  <%= f.submit "Confirm" %>

<% end %>
</section>