<h5>LOL</h5>
<%= form_with(model: @edisk_directories, local: true) do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, class: "form-control mb-2" %>
  </div>

  <div>

    <%= f.label :path %>
    <%= f.collection_select :path, EdiskDirectory.all, :id, :PathNName, :prompt => "Select a Category" %>
    <%#= f.text_field :path, autofocus: true %>
  </div>

  <%= f.submit "Confirm" %>

<% end %>