<h5>Create new directory </h5>
<%= form_with(model: @edisk_directories, local: true) do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, class: "form-control mb-2" %>
  </div>
  <div>
    <%= hidden_field_tag :parent_id, "#{@edisk_directory.id}" %>
  </div>
  <%= f.submit "Confirm" %>

<% end %>