<style>
    *{
        box-sizing: border-box;
    }

    .center {
        margin-left: auto;
        margin-right: auto;
    }
    .card-style{
        margin: 15px;
    }

    @media only screen and (min-width: 1201px){
        .card-style{
            width: 22%;
            margin: 10px;
        }
    }


    @media only screen and (max-width: 1200px){
        .card-style{
            width: 30%;
            margin: 10px;
        }
    }

    @media only screen and (max-width: 992px){
        .card-style{
            width: 45%;
            margin: 10px;
        }
    }

    @media only screen and (max-width: 576px){
        .card-style{
            width: 60%;

        }
    }
</style>
<% @current_directory = EdiskDirectory.find(params[:id]) %>

<div class="container-fluid">
  <div class="card">
    <div class="card-body">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <div class="card">
                <div class="card-header">
                  <div>
                    <table class="center">
                      <tr>
                        <td>
                          Directory panel:
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
                <div class="card-body">
                  <div>
                    <p>Add new directory<%=button_to "+", new_edisk_directory_path(@current_directory), method: :get, class: "btn btn-success btn"%></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card">
                <div class="card-header">
                  <div>
                    <table class="center">
                      <tr>
                        <td>
                          File uploading panel:
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
                <div class="card-body">
                  <div>
                    <p>Upload file:<%=button_to "+", new_edisk_file_path(@current_directory), method: :get, class: "btn btn-warning btn"%></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-header">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <% @breadcrumbs.each do |breadcrumb| %>
                <% if breadcrumb[:path].nil? %>
                  <li class="beadcrump-item active" aria-current="page">
                    <%= breadcrumb[:label] %>
                  </li>
                <% else %>
                  <li class="breadcrumb-item">
                    <%= link_to breadcrumb[:label], breadcrumb[:path] %>
                  </li>
                <% end %>
              <% end %>
            </ol>
          </nav>
        </div>
        <div class="card-body">
          <div class="card">
            <div class="card-body">
              <div class="container d-flex flex-wrap d-flex justify-content-evenly">
                <% @edisk_directories.each do |post| %>
                  <div class="col-sm-6 col-lg-4">
                    <div class="card" style="width: 15rem;">
                      <%#= image_pack_tag %>
                      <%= image_pack_tag 'file.png', style: "", alt: "Card image cap", class: "card-img-top"  %>
<!--                      <img class="card-img-top" src="/assets/file.png" alt="Card image cap" style="max-height: 300px; max-width: 238.4px; min-height: 300px; min-width: 238.4px;">-->
                      <div class="card-body">
                        <h5 class="card-title"><%=link_to post.name, edisk_directory_path(post)%></h5>
                        <div>
                          <%= button_to "Edit", edit_edisk_directory_path(post), method: :get, class: "btn btn-primary btn-sm"%>
                          <%= button_to "Delete", edisk_directory_path(post), method: :delete,data: {confirm: "Are you sure?"}, class: "btn btn-danger btn-sm"%>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
              <div class="container d-flex flex-wrap d-flex justify-content-evenly">
                <% return_all_files_from_directory(@current_directory).each do |post| %>
                  <div class="col-sm-6 col-lg-4">
                    <div class="card" style="width: 15rem;">
                      <%if post.efile.representable? %>
                        <%= image_tag url_for(post.efile.representation(resize_to_limit: [1000, 1000])), class:"card-img-top", style:"max-height: 300px; max-width: 238.4px; min-height: 300px; min-width: 238.4px;"%>
                      <%#elsif post.efile.previewable? %>
                        <%#= image_tag url_for(post.efile.preview(resize_to_limit: [300, 300])), class:"card-img-top", style:"max-height: 300px; max-width: 238.4px; min-height: 300px; min-width: 238.4px;"%>
                      <% else %>
                        <%= link_to rails_blob_path(post.efile, disposition: "attachment") do %>
                          <%= image_pack_tag "#{post.pic_for_type}", alt: "Download file", class: "card-img-top", style:"max-height: 300px; max-width: 238.4px; min-height: 300px; min-width: 238.4px;" %>
                        <%end %>
                      <%end %>
                      <div class="card-body">
                        <h5 class="card-title"> <%=link_to post.name, post.efile %></h5>
                        <div>
                          <%= button_to "Edit", edit_edisk_file_path(post), method: :get, class: "btn btn-primary btn-sm"%>
                          <%= button_to "Delete", edisk_file_path(post), method: :delete, data: {confirm: "Are you sure?"},class: "btn btn-danger btn-sm"%>
                          <%= button_to "Expire all links", edisk_file_path(post), method: :get %>
                          <p><%="Link to file"%></p>
                          <p><%="(" + expiration_time_into_string(post.expiration_time) + ")"%></p>
                          <% if(post.expiration_time == "nil")%>
                            <%= text_field_tag "#{post.name}", "#{post.efile.url}" %>
                          <%else %>
                            <%= text_field_tag "#{post.name}", "#{post.efile.url(expires_in: post.expiration_time.to_i)}" %>
                          <%end %>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>